/** Common **/

.button, .menu, .field {
  padding: 0.5em 1.5em;
  border-style: solid;
  border-radius: 0.25em;
  border-width: 1px;
  border-color: #919191;
  box-shadow: none;
  background-color: white;
  outline: none;
}

.button, .menu-item {
  user-select: none;
}


/** Menu / MenuItem **/

.menu {
  display: block;
  text-align: left;
  padding: 0px;
}

.menu-item {
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
}

.menu-item.active,
.menu-item.active:hover {
  color: white;
  background-color: red;
}

.menu-item:first-child {
  margin-top: 0.5em;
}

.menu-item:last-child {
  margin-bottom: 0.5em;
}

.menu-item > a {
  color: inherit;
}


/** Hoverable **/

button:hover, .menu-item:hover {
  background-color: #d1ccd1;
}

.menu-item.disabled:hover, .menu-item.disabled,
button.disabled:hover, button.disabled {
  border-color: grey;
  background-color: white;
  color: grey;
}


/** Dropdown **/

.dropdown {
  display: inline-block;
}

.dropdown .menu {
  position: absolute;
  margin-top: 0.5em;
  top: auto;
}
